<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery-3.1.1.min.js"></script>
<ul class="nav nav-tabs" th:fragment="header">

    <li th:class="${Nav.getCustom1() eq  'Y'} ? 'active'" th:each="Nav,NavStat : ${Nav.data}">
        <a th:href="@{${Nav.getInterlinkage()}}" th:text="${Nav.getMenuItemName()}">主页</a>
    </li>
    <!--<li>
        <a href="#">文章分享</a>
    </li>
    <li class="disabled">
        <a href="#">Messages</a>
    </li>-->
    <li class="pull-right set-nav-button" th:if="${#strings.isEmpty(session.User)}">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#login">
            登录
        </button>
    </li>
    <li class="pull-right set-nav-button" th:if="${#strings.isEmpty(session.User)}">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#register">
            注册
        </button>
    </li>

    <li class="pull-right set-nav-button" th:if="${! #strings.isEmpty(session.User)}">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-sm">
            <a href="/authentication/logout" style="color: white;">
                [登出]
            </a>
        </button>
    </li>

    <li class="pull-right" th:if="${! #strings.isEmpty(session.User)}">
        <!-- Button trigger modal -->
        <a th:text="${session.User.getUserName() + ',欢迎您'}" href="#" id="userstatus"></a>
    </li>
</ul>

<!-- 登录 -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginLabel"
     th:if="${#strings.isEmpty(session.User)}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="loginLabel">登录</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" role="form" action="/authentication/login" id="loginForm" method="post">
                    <div class="form-group">

                        <label for="userNameOrEmail" class="col-sm-2 control-label">
                            账号:
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="userNameOrEmail" name="userNameOrEmail"
                                   placeholder="登录名或者邮箱"/>
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="password4log" class="col-sm-2 control-label">
                            密码:
                        </label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password4log" name="password4log"
                                   placeholder="登录密码"/>
                        </div>
                    </div>
                    <input type="hidden" id="currentURL4Login" name="currentURL4Login" value=""/>
                    <!--<div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">

                                <label>
                                    <input type="checkbox" /> Remember me
                                </label>
                            </div>
                        </div>
                    </div>-->
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="doLogin">登录</button>
            </div>
            <script>
                $("#doLogin").on("click", function () {
                    var currentURL = window.location.href;
                    $("#currentURL4Login").val(currentURL);
                    $("#loginForm").submit();
                })
            </script>
        </div>
    </div>
</div>

<!-- 注册 -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerLabel"
     th:if="${#strings.isEmpty(session.User)}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="registerLabel">注册</h4>
                <div class="register-error" id="unknowError"></div>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" role="form" action="/authentication/register" id="registerForm"
                      method="post">
                    <div class="form-group">

                        <label for="userNameOrEmail" class="col-sm-2 control-label">
                            用户名:
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="userName" name="userName" placeholder="用户名"/>
                        </div>
                        <div id="errorMessageUser" class="register-error"></div>
                    </div>
                    <div class="form-group">

                        <label for="userNameOrEmail" class="col-sm-2 control-label">
                            邮箱:
                        </label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="activeEmail" name="activeEmail"
                                   placeholder="邮箱"/>
                        </div>
                        <div id="errorMessageEmail" class="register-error"></div>
                    </div>
                    <div class="form-group">

                        <label for="password4log" class="col-sm-2 control-label">
                            密码:
                        </label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password4Register" name="password4Register"
                                   placeholder="登录密码"/>
                        </div>
                    </div>
                    <input type="hidden" id="currentURL4Register" name="currentURL4Register" value=""/>
                    <!--<div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">

                                <label>
                                    <input type="checkbox" /> Remember me
                                </label>
                            </div>
                        </div>
                    </div>-->
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary disabled" id="doRegister">注册</button>
            </div>
            <script>
                var userNameFlag = 'N';
                var emailFlag = 'N';

                function checkUserNameIsNotNull() {
                    var userName = $("#userName").val();
                    if (userName == null || userName == undefined || userName == '') {
                        return false;
                    } else
                        return true;
                }

                function checkEmailIsNotNull() {
                    var email = $("#activeEmail").val();
                    if (email == null || email == undefined || email == '') {
                        return false;
                    }
                    return true;
                }

                function authInfo(object, content) {
                    $.ajax({
                        url: '/authentication/registerCheck',
                        type: "POST",//请求方式：get或post
                        scriptCharset: 'utf-8',
                        dataType: "json",//数据返回类型：xml、json、script
                        cache: false,
                        data: {
                            'object': object,
                            'content': content,
                        },//自定义提交的数据
                        success: function (json) {
                            if (json !== null || json !== undefined || json !== '') {
                                /*判断程序内部返回是否有错*/
                                if (json.code == 100) {
                                    $("#unknowError").text('');
                                    if (json.data.object == 'UserName') {
                                        if (json.data.errorFlag == 'N')
                                            $("#errorMessageUser").text(json.data.errorMessage);
                                        else {
                                            $("#errorMessageUser").text('');
                                            userNameFlag = 'Y';
                                            /*<![CDATA[*/
                                            if (userNameFlag == 'Y' && emailFlag == 'Y' && checkUserNameIsNotNull() && checkEmailIsNotNull()) {
                                                $("#doRegister").removeClass("disabled");
                                                $("button").delegate("#doRegister", "click", function () {
                                                    var currentURL = window.location.href;
                                                    $("#currentURL4Register").val(currentURL);
                                                    $("#registerForm").submit();
                                                })
                                            } else {
                                                $("#doRegister").addClass("disabled");
                                                $("#doRegister").unbind("click");
                                            }
                                            /*]]>*/
                                        }

                                    } else if (json.data.object == 'Email') {
                                        if (json.data.errorFlag == 'N')
                                            $("#errorMessageEmail").text(json.data.errorMessage);
                                        else {
                                            $("#errorMessageEmail").text('');
                                            emailFlag = 'Y'
                                            /*<![CDATA[*/
                                            if (userNameFlag == 'Y' && emailFlag == 'Y' && checkUserNameIsNotNull() && checkEmailIsNotNull()) {
                                                $("#doRegister").removeClass("disabled");
                                                $("button").delegate("#doRegister", "click", function () {
                                                    var currentURL = window.location.href;
                                                    $("#currentURL4Register").val(currentURL);
                                                    $("#registerForm").submit();
                                                })
                                            } else {
                                                $("#doRegister").addClass("disabled");
                                                $("#doRegister").unbind("click");
                                            }
                                            /*]]>*/
                                        }
                                    } else {
                                        if (json.data.errorFlag == 'N')
                                            $("#unknowError").text(json.data.errorMessage);
                                        else
                                            $("#unknowError").text('');
                                    }
                                } else {
                                    $("#unknowError").text(json.message);
                                }
                            }
                        },
                        error: function (json) {
                            $("#unknowError").text("Request Error!")
                        }
                    })
                }

                $("#userName").on("blur", function () {
                    if (checkUserNameIsNotNull()) {
                        authInfo("UserName", $("#userName").val());
                    } else {
                        $("#errorMessageUser").text("用户名不能为空");
                    }
                })
                $("#activeEmail").on("blur", function () {
                    if (checkEmailIsNotNull()) {
                        authInfo("Email", $("#activeEmail").val());
                    } else {
                        $("#errorMessageEmail").text("邮箱不能为空");
                    }
                })
            </script>
        </div>
    </div>
</div>

