<ul class="pagination" th:fragment="pagination">
    <li th:class="${Paginations.data.getPreButton() eq 'MIN'} ? 'disabled'">
        <a th:href="@{${Paginations.data.getPath() + Paginations.data.getPreButton()}}">前一页</a>
    </li>
    <li th:class="${Paginations.data.getCurrentPage() eq  Pt} ? 'active'" th:each="Pt,PtStat : ${Paginations.data.getBarList()}">
        <a href="#" th:href="@{${Paginations.data.getPath() + Pt}}" th:text="${Pt}"></a>
    </li>
    <li th:class="${Paginations.data.getPostButton() eq 'MAX'} ? 'disabled'">
        <a th:href="@{${Paginations.data.getPath() + Paginations.data.getPostButton()}}">后一页</a>
    </li>
</ul>